@namespace EventSchedulingAppv2.Models

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Oakwood Hall</h1>
</div>


<style>
    .image-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }

    .centered-image {
        width: 40%;
        height: auto;
    }
</style>

<div class="image-container">
    <img src="~/Content/Images/img1.jpg" alt="Image 1" class="centered-image" />
    <img src="~/Content/Images/img2.jpg" alt="Image 2" class="centered-image" />
</div>

<div class="image-container">
    <img src="~/Content/Images/img3.jpg" alt="Image 3" class="centered-image" />
    <img src="~/Content/Images/img4.jpg" alt="Image 4" class="centered-image" />
</div>





